# Log Files
*.tlog
*.log

# Prerequisites
*.d
*.db
*.idb
*.pdb
*.ipdb
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.iobj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.ilk
*.exp
Algorithm_Study/Debug/algorithmstudy_march_week3.obj.enc
.vs/Algorithm_Study/v16/Browse.VC.opendb
.vs/Algorithm_Study/v16/Browse.VC.db-wal
.vs/Algorithm_Study/v16/Browse.VC.db-shm
.vs/Algorithm_Study/v16/.suo
